 /* Generated by InMemoryDatabaseModelInclude.tt downloaded from https://T4DacFx2TSQL.codeplex.com */
/* Copyright (c) 2015 Dr. John Tunnicliffe, Decision Analytics, London, UK  */


/*
 * This comment will appear at the top of your auto-generated file.
 * This file was generated automatically by a T4 Template 
 * DO NOT EDIT MANUALLY!
 */
-- History table for [dbo].[Dim_Employers]
CREATE TABLE [dbo].[Dim_Employers]
(
    [History_Dim_Employers_ID] INT NOT NULL IDENTITY(1,1),
	[Id] INT NOT NULL,
	[EmployerName] NVARCHAR(250) NOT NULL,
	[NoOfEmployees] INT,
	[Revenue] DECIMAL(7,2),
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [dbo];
GO

-- History table for [dbo].[Fact_Total]
CREATE TABLE [dbo].[Fact_Total]
(
    [History_Fact_Total_ID] INT NOT NULL IDENTITY(1,1),
	[TotalRevenue] NUMERIC(38,2),
	[DatetimeStamp] DATETIME,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [dbo];
GO

-- End of auto generated code!